name: "JCR Docker Build"

on:
  workflow_dispatch:



jobs:
  docker:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v2
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      
      - name: Get current date
        id: getDate
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"

      - name: Get semantic version from file
        id: getSemver
        run: echo "::set-output name=semver::$(cat VERSION | tr -d ' \t\n\r' )"


      - name: Login to JFrog JCR
        run: |
          echo ${{ secrets.JCR_USERNAME }} | docker login artifact.techblog.co.il --username ${{ secrets.JCR_USERNAME }} --password ${{ secrets.JCR_TOKEN }}



      - name: Build and push Docker Latest image
        run: |
          docker buildx create --use
          docker buildx build --platform linux/amd64,linux/arm64 --push -t artifact.techblog.co.il/docker/wassist:latest

      - name: Build and push Docker Versiond image
        run: |
          docker buildx create --use
          docker buildx build --platform linux/amd64,linux/arm64 --push -t artifact.techblog.co.il/docker/wassist:${{ steps.getSemver.outputs.semver }}

